 
  .building-table {
    background-color: #ffbf00;
    color: white;
    text-align: middle;
    font-weight: bold;
    padding: 2px 10px;
  }
  
  .building-table th,
  .building-table td {
    padding: 2px 10px;
  }